/* Navigation Bar */
.nav-main {
    float: right;
    list-style-type: none;
    border-radius: 5px;
    padding: 0;
    margin-top: 0px;
}
.nav-item {
    text-decoration: none;
    border: none;
    border-color: #05affb;
    padding: 48px 8px 25px 8px;
    float:left;
    font-size:22pt; 
    color: #ffffff;
    border-radius: 0;
    font-weight: bold;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.nav-ref {
    color: #027efa;
}

/* Header section */
.header-main {
    min-height: 600px;
    background-color: #C92228;
    background: rgba(0, 0, 0, 0.65);
    margin: 0 0 0 0;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    filter: contrast(75%);  
}
.top-text {
    padding: 0 14% 0 14%;
    height: inherit;
}
.img {
    background-image: url('http://i64.tinypic.com/2i6e8oi.jpg');
    position: relative;
    padding: 0 auto;
    display: block;
    max-width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Skills Section */
.container-bottomheader {
    text-align: center;
    background: linear-gradient(#e5633c, #e7704b, #e5633c);
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    min-height: 45px;
    padding: 8px 12px 0px 12px;  
}
.container-topheader-list-element {
    color: #ffffff;
    flex-flow: row;
    text-align: center;
    font-size: 14pt;
    margin: 0px 12px 0px 0px;  
    letter-spacing: 0px;
    display: inline;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.3);
    font-weight: normal;
    letter-spacing: -1px;
}

/* Form Section */
.dropdown-text {  
    text-align: center;
    color: #ffffff;
    font-size: 28pt;
    margin: 24px 0px 12px 0px;
    font-weight: normal;
}
.row-form {
    width: 100%;
    display: flex;
    justify-content: center;  
    align-content:center;  
}
.row-form-b {
    width: 595px;
    margin: 12pt 0pt 0pt 0pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #f7f5e8;
    border-radius: 5px;
}
.form-input-element {
    margin: 0px 8px 0px 0px;
    border-radius: 5px;
    background: #f7f5e8;    
}
.form-input-element-b {
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    background: #f7f5e8;
}